[Desktop Entry]
Name=mimij
Comment=A simple audio player that supports AB repeat
Exec=mimij
Icon=${SNAP}/meta/gui/mimij.png # replace name to your app name
Terminal=false
Type=Application
Categories=Audio;
